body {
    font-family: Arial;
    text-align: center;
    background: #121212;
    color: white;
}

.container {
    margin: 20px;
}

input, select, button {
    padding: 10px;
    margin: 5px;
}

li {
    margin: 10px;
}